:root {
  --dark-gray: #a1a1a1;
  --black: black;
  --white: white;
  --v-dk-gray: #454545;
  --height-menu: 100px;
}

* {
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
}

html,
body {
  margin: 0;
}

body {
  max-height: 100vh;
}

p {
  color: var(--dark-gray);
}

/* UTILITY CLASS */

.uppercase {
  text-transform: uppercase;
}

.spacing {
  letter-spacing: 7px;
}

/* UTILITY CLASS */

.nav {
  width: 100%;
  height: var(--height-menu);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  .btn-menu {
    width: 17%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 5;
    cursor: pointer;

    img {
      position: relative;
      top: 40px;
      left: 35%;
      transition: opacity ease 1s;
    }
  }
}

.menu {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  background-color: var(--white);

  & img {
    width: 16px;
    height: 16px;
  }

  .nav--links {
    width: 70%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 2em;
    padding: 0;
  }

  a {
    font-weight: 600;
    color: var(--black);
    text-decoration: none;
  }
}

.disabled {
  display: none;
}

// MAIN 

.carousel {
  &--commands {
    background-color: black;
    position: absolute;
    width: 30%;
    height: 55px;
    right: 0;
    display: flex;
    top: calc(360px - 55px);

    &>div {
      height: 100%;
      width: 50%;
      display: grid;
      place-items: center;
      cursor: pointer;
    }

    & img {
      height: 20px;
    }
  }

  .desktop {
    display: none;
  }
}

.container {
  padding: 3em 2em;
}

.main-title {
  font-size: 2.3em;
  font-weight: 600;
}

.shop-now {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0 1em 0;
  cursor: pointer;
}


.picture img {
  width: 100%;
}

.subparagraph {
  line-height: 20px;
}

.animated {
  animation: 2s linear 0s 1 alternate texts;
}

@keyframes texts {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    width: 40%;
    justify-content: unset;
    margin-left: 5em;
  }

  .btn-menu {
    display: none;
  }

  .menu {
    display: flex !important;
    z-index: 5;
    background-color: transparent;

    .nav--links {
      width: 55%;
    }

    a {
      color: var(--white);
    }
  }

  .section {
    display: flex;

    &:first-of-type {
      min-height: 58vh;
    }

    &:last-of-type {
      height: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 330px;
    }
  }

  .carousel {
    width: 60%;
    position: relative;

    & img.mobile {
      display: none;
    }

    & img.desktop {
      width: 100%;
      max-height: 58vh;
      display: block;
    }

    &--commands {
      width: 11%;
      left: 100%;
      bottom: 0;
      top: unset;

      div:hover {
        background-color: var(--v-dk-gray);
      }
    }
  }

  .shop-now:hover {
    span {
      color: var(--dark-gray);
    }

    svg path {
      fill: var(--dark-gray);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 0 5em;

    &-logo {
      z-index: 5;
    }

    &--main-title {
      width: 40%;
      padding: 0em 7em;
    }
  }

  .picture img {
    height: 100%;
  }
}